{% extends 'base.html' %}
{% block content %}

<section class="asm-two-column">
    <section class="main-column">
        <section class="container">
            <section class="container-header">
                <h3>Login</h3>
            </section>
            <section class="container-body">
                <form class="form" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <section class="form-inputs">
                        {% for field in form %}
                            <section class="form-input">{{ field.label_tag }} {{ field }}</section>
                        {% endfor %}
                    </section>
                    <button type="submit" class="btn accent middle right">Login</button>
                </form>
            </section>
        </section>
    </section>
    <aside>
        <a href="{% url 'password_reset' %}">Forgot Password?</a> | <a href="{% url 'register' %}">Register</a>
    </aside>
</section>

{% endblock content %}