.secondary-column .user-image {
    height: 35rem;
    width: 35rem;
    background: blueviolet;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, 25%);
}

.secondary-column .user-profile {
    display: grid;
    grid-template-rows: 10rem 1fr;
    margin-top: 16rem;
    text-align: center;
}

.secondary-column .user-profile .user-details {
    padding: 2rem;
    line-height: 1.5;
}

.secondary-column .user-profile .user-details h3 {
    font-size: 2.8rem;
    text-transform: capitalize;
}

.secondary-column .user-profile .user-details p {
    font-size: 1.8rem;
}

.secondary-column .secondary-nav {
    background: blue;
}

.secondary-column .secondary-nav ul {
    display: grid;
    list-style: none;
    align-items: center;
    font-size: 2rem;
    background: lightgoldenrodyellow;
    row-gap: 0.1rem;
    
}

.secondary-column .secondary-nav ul li {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background: gray;
    padding: 2rem 1rem;
}