.secondary-column {
    color: var(--text);
}

.secondary-column .user-image {
    height: 30rem;
    width: 30rem;
    background: var(--quad);
    border-radius: 50%;
    position: absolute;
    top: -15rem;
    left: 50%;
    transform: translateX(-50%);
}

.secondary-column .user-profile {
    display: grid;
    grid-template-rows: 10rem 1fr;
    margin-top: 16rem;
    margin-bottom: 4rem;
    text-align: center;
}

.secondary-column .user-profile .user-details {
    padding: 2rem;
    line-height: 1.5;
}

.secondary-column .user-profile .user-details h3 {
    font-size: 2.8rem;
    text-transform: capitalize;
}

.secondary-column .user-profile .user-details p {
    font-size: 1.8rem;
}

.secondary-column .secondary-nav ul {
    display: grid;
    list-style: none;
    align-items: center;
    font-size: 2rem;
    row-gap: 0.2rem;
    
}

.secondary-column .secondary-nav ul li {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background: var(--quad);
    padding: 1rem 3rem;
}

.secondary-column .secondary-nav ul li a {
    text-decoration: none;
    color: var(--text);
}