.grade-report {
    background: var(--tertiary);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    padding: 2rem;
    font-size: 1.6rem;
}

.grade-report .assignments {
    display: grid;
    row-gap: 2rem;
}

.grade-report .assignments .assignment {
    display: grid;
    row-gap: 2rem;
    background: var(--quint);
    padding: 2rem;
}

.grade-report .assignments .assignment .submissions {
    display: grid;
    row-gap: 2rem;
}

.grade-report .assignments .assignment .submissions .submission {
    display: grid;
    background: var(--quad);
    padding: 1rem 1.2rem;
}

.grade-report .assignments .assignment .submissions .submission .answers {
    margin-top: 2rem;
    display: grid;
}

.grade-report .assignments .assignment .submissions .submission .answers .answer {
    display: grid;
    grid-template-columns: 1fr 8rem;
}

.grade-report .assignments .assignment .submissions .submission .answers .answer strong {
    align-self: center;
    justify-self: end;
}