.class-reports  {
    background: var(--tertiary);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.class-reports .course-report .empty, .class-reports .course-report .assignments .assignment {
    font-size: 1.6rem;
    background: var(--tertiary);
}

.class-reports .course-report .assignments {
    display: grid;
    row-gap: 2rem;
}

.class-reports .course-report .assignments .assignment .students {
    display: grid;
    background: var(--quint);
    row-gap: 0.2rem;
}

.class-reports .course-report .assignments .assignment .students .student {
    display: grid;
    background: var(--quad);
    padding: 1rem 2rem;
}

.class-reports .course-report .assignments .assignment .students .student h5 {
    place-self: start;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.class-reports .course-report .assignments .assignment .students .student .submissions {
    display: grid;
    row-gap: 1rem;
}

.class-reports .course-report .assignments .assignment .students .student .submissions .submission {
    display: grid;
    background: #777;
    padding: 2rem;
}

.class-reports .course-report .assignments .assignment .students .student .submissions .submission .answers {
    display: grid;
    grid-auto-flow: row;
    margin-top: 1rem;
}

.class-reports .course-report .assignments .assignment .students .student .submissions .submission .answers .answer {
    display: grid;
    grid-template-columns: 1fr 8rem;
}

.class-reports .course-report .assignments .assignment .students .student strong {
    align-self: center;
    justify-self: end;
}