.courses {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    background: lightcoral;
}

.courses .course {
    background: lightblue;
    position: relative;
}

.courses .course .course-image {
    height: 28rem;
    width: auto;
    background: wheat;
}

.courses .course .course-meta {
    position: absolute;
    bottom: 0;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 8rem;
    justify-content: space-between;
}

.courses .course .course-meta .course-details h4 {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: 400;
}

.courses .course .course-meta .course-details p {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 300;
}

.courses .course .course-meta a {
    justify-self: end;
    align-self: center;
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-weight: 300;
}