.courses {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.courses .course {
    position: relative;
    transition: 200ms ease-in-out;
}

.courses .course:hover {
    transform: scale(1.025);
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.75);
}

.courses .course .course-image {
    height: 28rem;
    width: auto;
    max-width: 100%;
}

.courses .course .course-meta {
    position: absolute;
    bottom: 0;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 8rem;
    justify-content: space-between;
    background: url('/static/images/hero.jpg');
    padding: 2rem 1rem;
}

.courses .course .course-meta .course-details h4 {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: bolder;
}

.courses .course .course-meta .course-details em {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
}