.site-nav {
    display: grid;
    background: red;
    height: 14rem;
    grid-template-columns: 14rem 1fr 14rem;
}

.site-nav .site-logo {
    height: 10rem;
    width: 10rem;
    background: blue;
    place-self: center;
}

.site-nav .site-links {
    width: 100%;
    height: 10rem;
    align-self: center;
    background: green;
}

.site-nav .hamburger {
    width: 10rem;
    height: 10rem;
    place-self: center;
    background: yellow;
}