{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    </head>
    <body>
        <header class="site-header">
            <nav class="site-nav">
                <section class="site-logo"></section>
                <section class="site-links">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">Grades</a></li>
                    </ul>
                </section>
                <section class="hamburger">
                    <section class="hamburger-lines">
                        <div class="hamburger-line"></div>
                        <div class="hamburger-line"></div>
                        <div class="hamburger-line"></div>
                    </section>
                </section>
            </nav>
            <section class="jumbotron">
                <!-- conditionally render based on if the user is logged in or not -->
                {% if user.is_authenticated %}
                <section class="jumbotron-content">
                    <h1>Hi {{ user.username }}!</h1>
                    <p>Here are your courses and discussions.</p>
                </section>
                {% else %}
                <section class="jumbotron-content">
                    <h1>Hi there!</h1>
                    <p>Sign in to see your current courses and discussions.</p>
                </section>
                {% endif %}
            </section>
        </header>
        
        <section class="main">
            {% block content %}
            {% endblock content %}
        </section>
        <footer class="site-footer">
            <section class="footer-logo"></section>
            <section class="footer-links">
                <h3>Sitemap</h3>
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
            </section>
            <section class="footer-social">
                <h3>Social Links</h3>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </section>
        </footer>
    </body>
</html>