{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'styles/app.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
        <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <header class="site-header">
            <nav class="site-nav">
                <img src="https://www.wku.edu/marketingandcommunications/images/wkucuptall_w.png" alt="logo" class="site-logo">
                <section class="site-links">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'view_courses' %}">Courses</a></li>
                    </ul>
                </section>
                <section class="hamburger">
                    <section class="hamburger-lines">
                        <div class="hamburger-line"></div>
                        <div class="hamburger-line"></div>
                        <div class="hamburger-line"></div>
                    </section>
                </section>
            </nav>
            <section class="jumbotron">
                <section class="jumbotron-image">
                </section>
                <!-- conditionally render based on if the user is logged in or not -->
                {% if user.is_authenticated %}
                <section class="jumbotron-content">
                    <h1>Hi {{ user.username }}!</h1>
                    <p>Here are your courses and discussions.</p>
                </section>
                {% else %}
                <section class="jumbotron-content">
                    <h1>Hi there!</h1>
                    <p>Sign in to see your current courses and discussions.</p>
                </section>
                {% endif %}
            </section>
        </header>
        
        <main class="main-content">
            {% block content %}
            {% endblock content %}
        </main>
        <footer class="site-footer">
            <img src="https://www.wku.edu/marketingandcommunications/images/wku_r.png" alt="logo" class="footer-logo">
        </footer>
    </body>
</html>