{% extends 'base.html' %}

{% block content %}

<main>
    <section class="asm-two-column">
        <section class="main-column">
            <section class="course-content">
                <section class="container">
                    <section class="container-header">
                        <h3>{{course.code}} - {{course.name}}</h3>
                    </section>
                    <section class="container-body">
                        {% if lessons %}
                        <section class="lessons">
                            {% for lesson in lessons %}
                            <section class="lesson">
                                <h4>{{lesson.name}}</h4>
                                <p>{{lesson.description}}</p>
                                
                            </section>
                            {% endfor %}
                        </section>
                        {% endif %}
                        {% if assignments %}
                        <section class="assignments">
                            {% for assignment in assignments %}
                            <section class="assignment">
                                <h4>{{assignment.name}}</h4>
                                <p>{{assignment.description}}</p>
                                <strong>Due Date: {{assignment.due_date}}</strong>
                                
                            </section>
                            {% endfor %}
                        </section>
                        {% endif %}
                    </section>
                </section>
            </section>
        </section>
        <aside>
            <section class="course-details">
                <section class="container">
                    <section class="container-header">
                        <h3>Course Details</h3>
                    </section>
                    <section class="container-body">
                        <p><strong>Course Code:</strong> {{course.code}}</p>
                        <p><strong>Course Name:</strong> {{course.name}}</p>
                        <p><strong>Course Description:</strong> {{course.description}}</p>
                        <p><strong>Course Instructor:</strong> {{course.instructor}}</p>
                        <p><strong>Course Start Date:</strong> {{course.start_date}}</p>
                        <p><strong>Course End Date:</strong> {{course.end_date}}</p>
                    </section>
                </section>
            </section>
        </aside>
    </section>
</main>

{% endblock content %}