{% extends 'base.html' %}

{% block title %}
  Your Courses | CS396 Project
{% endblock title %}

{% block content %}

    <section class="asm-two-column">
        <section class="main-column">
            <section class="container">
                <section class="container-header">
                    <h3>Your Courses</h3>
                </section>
                <section class="container-body">
                    {% if courses %}

                    <section class="courses">
                    {% for course in courses %}
                    
                    <section class="course">
                        <section class="course-image"></section>
                        <section class="course-meta">
                          <section class="course-details">
                            <h4>{{course.code}}</h4>
                            <em> {{ course.name }}</em>
                          </section>
                          <a class="btn" href="{% url 'view_course' course.id %}">View</a>
                        </section>
                      </section>
                        
                        {% endfor %}
                    </section>
                    
                        {% else %}
                    <section class="courses">
                        <section class="course">
                            <section class="course-image"></section>
                            <section class="course-meta">
                                <section class="course-details">
                                    <h4>No Courses</h4>
                                    <p>Enroll in a course to get started.</p>
                                </section>
                                <a href="#">View</a>
                            </section>
                        </section>
                    </section>
                    {% endif %}
                </section>
            </section>
        </section>
    </section>



{% endblock content %}