{% extends 'base.html' %}

{% block title %}
  {{discussion.title}} | CS396 Project
{% endblock title %}    

{% block content %}

    <section class="asm-two-column">
        <section class="main-column">
            <section class="container">
                <section class="container-body">
                    <section class="discussion">
                        <section class="author-details">
                            <section class="author-image"></section>
                            <h4>{{discussion.user}}</h4>
                        </section>
                        <section class="discussion-body">
                            <h4>{{discussion.title}}</h4>
                            <p>{{discussion.description |safe}}</p>
                        </section>
                        <section class="discussion-buttons">
                            <section class="ratio">
                              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                  <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/>
                              </svg>
                              <p>12</p>
                              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                                  <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/>
                              </svg>
                            </section>
                          </section>
                        <section class="replies">
                            {% for comment in comments %}
                            <section class="reply">
                                <section class="reply-author">
                                    <section class="author-image">

                                    </section>
                                    <h3>{{comment.user}}</h3>
                                </section>
                                <section class="reply-content">
                                    <p>{{comment.commentBody |safe}}</p>
                                </section>
                            </section>
                            {% endfor %}
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <aside class="secondary-column">
            <section class="container">
                <section class="container-header">
                    <h3>Reply</h3>
                </section>
                <section class="container-body">
                    <form class="form create-discussion-comment-form" action="{% url 'create_comment' post_id=discussion.id %}" method="post">
                        {% csrf_token %}
                        {{ form.media }}

                        <section class="form-inputs">
                            <section class="form-input">
                                <label for="{{ form.commentBody.id_for_label }}">Your Reply</label>
                                {{ form.commentBody }}
                            </section>
                        </section>
                    
                        <button class="btn accent middle right" type="submit">Create Reply</button>
                    </form>
                </section>
            </section>
        </aside>
    </section>

{% endblock content %}