{% extends 'base.html' %} 
{% load static %}

{% block title %}
  Home
{% endblock title %}

{% block content %}
  <section class="asm-two-column">
    <section class="main-column">
      <section class="container">
        <section class="container-header">
          <h3>Your Courses</h3>
          <a class="btn accent" href="{% url 'view_courses' %}">View All</a>
        </section>

        <section class="container-body">
          <section class="courses">
            {% if courses %} {% for course in courses %}
            <section class="course">
              <section class="course-image"></section>
              <section class="course-meta">
                <section class="course-details">
                  <h4>{{course.code}}</h4>
                  <em> {{ course.name }}</em>
                </section>
                <a class="btn" href="{% url 'view_course' course.id %}">View</a>
              </section>
            </section>
            {% endfor %} {% else %}
            <section class="course">
              <section class="course-image"></section>
              <section class="course-meta">
                <section class="course-details">
                  <h4>No Courses</h4>
                  <p>Enroll in a course to get started.</p>
                </section>
                <a href="#">View</a>
              </section>
            </section>
            {% endif %}
          </section>
        </section>
      </section>
      <section class="container">
        <section class="container-header">
          <h3>Discussions ({{discussions.count}})</h3>
          <a class="btn accent" href="{% url 'create_discussion_post' %}">Create Discussion</a>
        </section>

        <section class="container-body">
          <section class="discussions">
            {% for discussion in discussions %}

            <section class="discussion">
              <section class="author-details">
                <section class="author-image"></section>
                <h4>{{discussion.user}}</h4>
              </section>
              <section class="discussion-body">
                <h4>{{discussion.title}}</h4>
                <p>{{discussion.description |safe}}</p>
              </section>
              <section class="discussion-buttons">
                <section class="ratio">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                      <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/>
                  </svg>
                  <p>12</p>
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                      <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/>
                  </svg>
                </section>
              
                <a class="btn accent" href="{% url 'view_discussion' discussion.id %}">View & Comment</a>
              </section>
            </section>
            {% endfor %}
          </section>
        </section>
      </section>
    </section>
    <aside class="secondary-column">
      <section class="user-image"></section>
      <section class="user-profile">
        <section class="user-details">
          <h3>{{ user.username }}</h3>
          <p>{{ user.email }}</p>
        </section>
      </section>
      <nav class="secondary-nav">
        <ul>
          {% if user.is_staff %}

          <li><a href="{% url 'teacher_report' %}">Class Report</a></li>
          
          {% else %}

          <li><a href="{% url 'report' %}">Grade Report</a></li>

          {% endif %}

          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
        </ul>
      </nav>
    </aside>
  </section>

{% endblock content %}
