{% extends 'base.html' %}

{% block title %}
  Grade Report | CS396 Project
{% endblock title %}

{% block content %}

    <section class="asm-two-column">
        <section class="main-column">
            {% for course_name, assignments in submission_dict.items %}
            <section class="container">
                <section class="container-header">
                    <h3>{{ course_name }}</h3>
                </section>
                <section class="container-body grade-report">
                    {% if assignments %}
                    <section class="assignments">
                        {% for assignment_name, submissions in assignments.items %}
                        <section class="assignment">
                            <h4>{{ assignment_name }}</h4>
                            {% if submissions %}
                            <section class="submissions">
                                {% for submission in submissions %}
                                    <section class="submission">
                                        <p>{{submission.created_at}}</p>
                                        <strong>{{ submission.earned }} / {{submission.possible}}</strong>
                                    </section>
                                {% endfor %}
                            </section>
                            {% else %}
                            <p class="empty">No submissions for this assignment</p>
                            {% endif %}
                        </section>
                        {% endfor %}
                    </section>
                    {% else %}
                        <p class="empty">No assignments have been posted.</p>
                    {% endif %}
                </section>
            </section>
            {% endfor %}
        </section>
        <aside class="secondary-column">

        </aside>
    </section>
{% endblock content %}