{% extends 'base.html' %}

{% block title %}
  Grade Report | CS396 Project
{% endblock title %}

{% block content %}

    <section class="asm-two-column">
        <section class="main-column">
            {% for course_name, assignments in submission_dict.items %}
            <section class="container">
                <section class="container-header">
                    <h3>{{ course_name }} - {{assignments.course_grade}} / {{assignments.course_possible}} </h3>
                </section>
                <section class="container-body grade-report">
                    {% if assignments %}
                    <section class="assignments">
                        {% for assignment_name, submissions in assignments.assignments.items %}
                        <section class="assignment">
                            <h4>{{ assignment_name }}</h4>
                            {% if submissions %}
                            <section class="submissions">
                                {% for submission, data in submissions.items %}
                                <section class="submission">
                                    <h4>Submission - {{data.submission.earned}} / {{data.submission.possible}} </h4>
                                    <em>{{data.submission.created_at}}</em>
                                    <!-- <section class="answers">
                                        {% for answer in data.answers %}
                                        <section class="answer">
                                            <p>{{answer.question.question}}</p>
                                            <strong>{{answer.points}} / {{answer.possible}}</strong>
                                            <section class="response">
                                                <p>Your response: {{answer.answer}}</p>
                                                <p>Correct response: {{answer.question.answer}}</p>
                                            </section>
                                        </section>
                                        {% endfor %}
                                    </section> -->
                                </section>
                                {% endfor %}
                            </section>
                            {% else %}
                            <p class="empty">No submissions for this assignment</p>
                            {% endif %}
                        </section>
                        {% endfor %}
                    </section>
                    {% else %}
                        <p class="empty">No assignments have been posted.</p>
                    {% endif %}
                </section>
            </section>
            {% endfor %}
        </section>
        <aside class="secondary-column">

        </aside>
    </section>
{% endblock content %}