{% extends 'base.html' %}
{% block content %}

<main class="main-content">
    <section class="asm-two-column">
        <section class="main-column">
            {% for course_name, assignments in submission_dict.items %}
            <section class="container">
                <section class="container-header">
                    <h3>{{ course_name }}</h3>
                </section>
                <section class="container-body">
                    <section class="assignments">
                        {% for assignment_name, submissions in assignments.items %}
                        <section class="assignment">
                            <h4>{{ assignment_name }}</h4>
                            {% if submissions %}
                            <section class="submissions">
                                {% for submission in submissions %}
                                    <section class="submission">
                                        <strong>{{ submission.earned }} / {{submission.possible}}</strong>
                                    </section>
                                {% endfor %}
                            </section>
                            {% else %}
                            <p>No submissions for this assignment</p>
                            {% endif %}
                        </section>
                        {% endfor %}
                    </section>

                </section>
            </section>
            {% endfor %}
        </section>
        <aside class="secondary-column">

        </aside>
    </section>
</main>

{% endblock content %}