{% extends 'base.html' %}

{% block title %}
  Teacher Report | CS396 Project
{% endblock title %}

{% block content %}

    <section class="asm-two-column">
        <section class="main-column">
            <section class="container">
                <section class="container-header">
                    <h3>Class Reports</h3>
                </section>
                <section class="container-body class-reports">
                    {% for course_name, assignments in course_dict.items %}
                    <section class="container">
                        <section class="container-header">
                            <h4>{{ course_name }} - Worst Average: {{assignments.worst_class_average}}% - Average: {{assignments.average_class_average}}% - Best Average: {{assignments.best_class_average}}%</h4>
                        </section>
                        <section class="container-body course-report">
                            {% if assignments %}
                            <sections class="assignments">
                                {% for assignment_name, students in assignments.assignments.items %}
                                    <section class="assignment">
                                        <h4>{{ assignment_name }} - Worst Submission Average {{students.worst_class_average}}% - Average Submission Average: {{students.average_class_average}}% - Best Submission Average: {{students.best_class_average}}%</h4>
                                        <section class="students">
                                            {% for student_name, submissions in students.students.items %}
                                                <section class="student">
                                                    <h5>{{student_name}} - Worst Submission: {{submissions.worst}}% - Average Submission: {{submissions.average}}% - Best Submission: {{submissions.best}}% </h5>
                                                    {% if submissions %}
                                                    <section class="submissions">
                                                        {% for submission, answers in submissions.submissions.items %}
                                                        <section class="submission">
                                                            <h4>Submission</h4>
                                                            <em>{{answers.submission.created_at}}</em>
                                                            <!-- <section class="answers">
                                                                {% for attempt in answers.answers %}
                                                                <section class="answer">
                                                                    <p>{{attempt.question}}</p>
                                                                    <strong>{{attempt.points}} / {{attempt.possible}}</strong>
                                                                    <section class="response">
                                                                        <p>Student response: {{attempt.answer}}</p>
                                                                        <p>Correct response: {{attempt.question.answer}}</p>
                                                                    </section>
                                                                </section>
                                                                {% endfor %}
                                                            </section> -->
                                                        </section>
                                                        {% endfor %}
                                                    </section>
                                                    {% else %}
                                                        <p>No submissions for this assignment</p>
                                                    {% endif %} 
                                                </section>
                                            {% endfor %}
                                        </section>
                                    </section>
                                {% endfor %}
                            </sections>
                            {% else %}
                                <p class="empty">No students have submitted work for this course</p>
                            {% endif %}
                        </section>
                    </section>
                    {% endfor %}
                </section>
            </section>
        </section>
    </section>

{% endblock content %}